<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>Find me in app/views/users/new.html.erb</p>

<h2>Woah there hold yer hearses, I'm still working on this here MVC contraption!</h2>
<p>The good news is I've got Rspec, Guard, & Spork kicking some TDD butt, so stay tuned & I'll have this whole thing up & running in no time.</p>
